{% extends 'base.html' %}
{% load static %}

{% block title %}{{ pagename }} - PythonBin{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ pagename }}</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <form action="{% url 'mainapp:add_snippet' %}" method="post">
            {% csrf_token %}  <!-- 🔥 Обязательно! -->
            
            <div class="form-group row">
                <div class="col-8">
                    <input type="text" name="name" class="form-control form-control-lg"
                           placeholder="Название сниппета" required>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-8">
                    <select class="form-control" name="lang" required>
                        <option value="python" selected>Python</option>
                        <option value="cpp">C++</option>
                        <option value="javascript">JavaScript</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-8">
                    <textarea name="code" class="form-control" rows="10" 
                              placeholder="Код сниппета" required></textarea>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-8">
                    <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}