<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'mainapp:index' %}">
                <img src="/static/images/logo.png" width="32" height="32" alt="">
                PythonBin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item me-2">
                        <!-- 🔥 Добавление сниппета -->
                        <a class="btn btn-outline-secondary" href="{% url 'mainapp:add_snippet' %}">
                            Добавить сниппет
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- 🔥 Просмотр списка сниппетов -->
                        <a class="btn btn-outline-info" href="{% url 'mainapp:snippets_list' %}">
                            Посмотреть сниппеты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>